<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>happyJared - 洞见</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="image/favicon.ico">
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style type="text/css">
        a {
            color: gray;
        }

        a:hover {
            color: gray;
            text-decoration: none;
        }

        .mps-top {
            margin-top: 15px
        }

        .no-data {
            width: 100%;
            height: 100%;
        }

        .sort-by-time {
            opacity: .85;
            height: 32px;
            line-height: 30px;
            border: 1px solid #e8eaec !important;
            padding: 0 12px;
        }

        .text-footer-muted {
            color: #868c9b !important;
        }

        #hitokoto {
          margin-top: 3px;
        }
    </style>
</head>
<body>
<div id="mp">

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">不错过每个学习的机会</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li class="text-muted">
                                大家好，这里是『 吗哩噢 • 洞见 』，一个针对WeChat公众号文章进行采集、过滤及搜索的平台；
                                如果你对网站有什么较好的建议，或者想关注正在学习的优质公众号，欢迎联系我：dong1013@foxmail.com
                                <!--欢迎关注同名公众号『 吗哩噢 』，我会在那里聊聊一些关于学习、健身、保险、理财方面的东西；-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"-->
                    <!--stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"-->
                    <!--class="mr-2" v-if="screenWidth >= 720">-->
                    <!--<path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>-->
                    <!--<circle cx="12" cy="13" r="4"></circle>-->
                    <!--</svg>-->
                    <strong v-if="screenWidth >= 720">吗哩噢</strong>
                    <div class="form-inline mt-2 mt-md-0" style="margin-left: 20px">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search"
                               v-model="input_value" @keyup.enter="search">
                        <div :class="mpsId ===0 || keyword === ''? 'disabled':''" class="btn btn-info" @click="search">
                            搜索
                        </div>
                        <Spin size="large"></Spin>
                    </div>
                </a>
                <button v-if="screenWidth >= 720" class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">
        <section class="jumbotron text-center" style="margin-bottom:0">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3" @click="toMp(3)">
                        <img class="rounded-circle"
                             src="https://wx.qlogo.cn/mmhead/Q3auHgzwzM75G6sykNf6scOEPJs4zIP1UVFCsZ5u6ia020jslaZIA0A/0"
                             alt="老钱说钱" width="120" height="120" data-toggle="tooltip"
                             title="一个对钱很有执行力的公司人。也可作为普通青年奋斗指南。">
                        <h6 class="text-muted mps-top" data-toggle="tooltip" title="WeChat ID: laoqianshuoqian">
                            老钱说钱</h6>
                    </div>
                    <div class="col-sm-3" @click="toMp(4)">
                        <img class="rounded-circle"
                             src="https://wx.qlogo.cn/mmhead/Q3auHgzwzM4KK3n3L0uicyzf4bQEyJQZa1jSiaxqGdJPAibXpfdfcrxoQ/0"
                             alt="关哥说险" width="120" height="120" data-toggle="tooltip"
                             title="关哥，出身保险公司，成长于外资银行，混迹过香港金融圈。 智商略高情商堪忧，理性思考绝不偏激。不吹不黑，客观公道。保险很有趣的，必须做功课。 我就说说，你就听听，错不了～">
                        <h6 class="text-muted mps-top" data-toggle="tooltip" title="WeChat ID: ggshuoxian">关哥说险</h6>
                    </div>
                    <div class="col-sm-3" @click="toMp(2)">
                        <img class="rounded-circle"
                             src="https://wx.qlogo.cn/mmhead/Q3auHgzwzM6bia44ArPNMqFIeUFznyuic1EJI0PVZfLL9NZ6PJZH4NaQ/0"
                             alt="36氪" width="120" height="120" data-toggle="tooltip"
                             title="36氪是中国领先的新商业媒体，提供新锐深度的商业报道。我们强调趋势与价值，我们的slogan是：让一部分人先看到未来。">
                        <h6 class="text-muted mps-top" data-toggle="tooltip" title="WeChat ID: wow36kr">36氪</h6>
                    </div>
                    <div class="col-sm-3" @click="toMp(7)">
                        <img class="rounded-circle"
                             src="https://wx.qlogo.cn/mmhead/Q3auHgzwzM4rjia2VAO0lJdkCicqJqMrpiabZw2JfvzVbsQYbicl561vWw/0"
                             alt="MelodyC2E" width="120" height="120" data-toggle="tooltip"
                             title="一个走心、专业的英语平台，由上外学生创立，每周一首原创英文版中文歌，希望全世界的人都能感受到中国歌曲的动人故事，还有英文晚安故事等有料有趣的内容，曾被人民日报、共青团中央等报道。">
                        <h6 class="text-muted mps-top" data-toggle="tooltip" title="WeChat ID: MelodyC2E">MelodyC2E</h6>
                    </div>

                </div>
            </div>
        </section>

        <div class="album bg-light">
            <div class="container">

                <!-- 日期选择器 -->
                <div class="row" style="padding: 15px 0" v-show="mpsId != 0 && screenWidth >= 720">
                    <div class="col-md-3">
                        <Tag class="sort-by-time" type="dot" color="error" @click="changeSort(sortDesc)">按时间 <span
                                v-text="sortDesc ? '↓':'↑'"></span></Tag>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3 col-md-offset-9 text-muted">
                        <date-picker style="width: 100%" type="daterange" placeholder="选择日期..."
                                     v-model="dateValue" format="yyyy/MM/dd" placement="left" :editable="false"
                                     :options="dateOptions" @on-change="changeDate" split-panels></date-picker>
                    </div>
                </div>

                <!-- 手机端 -->
                <div v-if="screenWidth < 720" class="my-3 p-3 bg-white rounded box-shadow">
                    <div v-for="(article,index) in articleList">
                        <a v-if="article.msgType != 1" target="_blank"
                           :href="article.msgType == 3 ? article.cover :'api/article/' + article.articleId">
                            <div class="media text-muted pt-3">
                                <img v-lazy="article.cover" class="mr-2 rounded" width="36" height="36">
                                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                    <strong class="d-block text-gray-dark"
                                            v-text="article.msgType == 3 ? '『 查看图片 』':article.title"></strong>
                                    <span v-text="article.postTime"></span>
                                </p>
                            </div>
                        </a>
                        <div v-if="article.msgType === 1" class="media text-muted pt-3">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark"
                                        v-html="article.digest.replace(/\\n/g, '<br>')"></strong>
                                <span v-text="article.postTime"></span>
                            </p>
                        </div>
                    </div>
                    <small class="d-block text-right mt-3" v-if="mpsId != 0 && !isLast">
                        <span @click="loadArticle(loadingMore)">More</span>
                    </small>
                </div>

                <!-- PC端 -->
                <div class="row" v-if="screenWidth >= 720">
                    <!-- style="margin-bottom:15px;height:350px;overflow:auto;" -->
                    <div class="col-md-3" v-for="(article,index) in articleList">
                        <!-- 图文消息 -->
                        <a v-if="article.msgType == 49" target="_blank" :href="'api/article/' + article.articleId">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" v-lazy="article.cover">
                                <div class="card-body card-block">
                                    <p class="card-text" v-text="article.title"></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted" v-text="article.postTime"></small>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- 文字 or 图片消息 -->
                        <div v-if="article.msgType != 49" class="card mb-4 box-shadow">
                            <img v-if="article.msgType == 3" class="card-img-top" v-lazy="article.cover">
                            <div class="card-body card-block">
                                <p v-if="article.msgType == 1" class="card-text"
                                   v-html="article.digest.replace(/\\n/g, '<br>')"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted" v-text="article.postTime"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" v-if="mpsId != 0 && !isLast && screenWidth >= 720">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <span class="btn btn-default btn-lg" @click="loadArticle(loadingMore)">︾</span>
                    </div>
                </div>
                <image class="no-data" v-show="isLast && articleList.length === 0 && isFirst"
                       src="image/empty_data.png"></image>

            </div>
        </div>

    </main>

    <footer class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <div id="hitokoto" class="text-muted">
                    相视而笑，莫逆于心
                </div>
            </div>
            <div class="col-4 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="d-block mb-2">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                    <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                    <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                    <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                    <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                    <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                </svg>
                <small class="d-block mb-3 text-footer-muted">
                    happyJared - 洞见<br>
                    Copyright &copy; 2018<br>
                    粤ICP备17033077号-1
                </small>
            </div>
            <div class="col-4 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small text-footer-muted">
                    <li><a class="text-muted  text-footer-muted" target="_blank" href="//wpa.qq.com/msgrd?v=3&uin=1394223902&site=qq&menu=yes">QQ</a></li>
                    <li><a class="text-muted  text-footer-muted" target="_blank" href="//blog.mariojd.cn/">博客</a></li>
                    <li><a class="text-muted  text-footer-muted" target="_blank" href="mailto:dong1013@foxmail.com">邮箱</a></li>
                    <li><a class="text-muted  text-footer-muted" target="_blank" href="//image.mariojd.cn/qrcode_for_malio_1280.jpg">公众号</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 col-md">
                <h5>Technology</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted  text-footer-muted" href="#">Vue.js</a></li>
                    <li><a class="text-muted  text-footer-muted" href="#">Requests</a></li>
                    <li><a class="text-muted  text-footer-muted" href="#">PostgreSQL</a></li>
                    <li><a class="text-muted  text-footer-muted" href="#">Spring Boot</a></li>
                    <li><a class="text-muted  text-footer-muted" href="#">Elasticsearch</a></li>
                </ul>
            </div>
        </div>
    </footer>

</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="//unpkg.com/axios/dist/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//unpkg.com/vue-lazyload/vue-lazyload.js"></script>
<script src="//unpkg.com/iview/dist/iview.min.js"></script>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="//cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
<script src="layer/layer.js"></script>
<script src="js/mp.js"></script>
</body>
</html>