<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>happyJared - 豆瓣电影TOP250</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="image/favicon.ico">
    <link rel="stylesheet" href="//cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<style>
    .jumbotron {
        background: url('image/bg.jpg') transparent;
        background-size: 100% 100%;
        margin-bottom: 0;
    }

    .cheese {
        background: url('image/cheese.png') no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 2px;
        vertical-align: middle;
        display: inline-block;
    }

    i {
        background: url('image/top-icon.png') no-repeat;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        padding-top: 5px;
        display: inline-block;
    }

    i.mdUp {
        background-position: -135px -54px;
    }

    i.mdDrop {
        background-position: -110px -61px;
    }

    .badge-danger {
        color: #212529;
        background-color: #ed969e;
    }

    .badge-success {
        color: #212529;
        background-color: #8fd19e;
    }

    .badge-primary {
        color: #212529;
        background-color: #7abaff;
    }

    .badge-warning {
        color: #212529;
        background-color: #ffdf7e;
    }

    .badge-secondary {
        color: #212529;
        background-color: #b3b7bb;
    }
</style>

<main role="main" id="movie">
    <section class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                    <h1>
                        <a href="//movie.douban.com/top250" target="_blank"
                           style="text-decoration: none;color:#1f2d3d;font-weight: bold">
                            豆瓣电影TOP250
                        </a>
                    </h1>
                    <h6 v-if="!largeScreen" style="font-size:9px;color:#868c9b">『 电脑查看 • 数据更全 』</h6>
                </div>
            </div>


            <!--<div class="row">
                <div class="col-lg-12" style="text-align: center">
                    <div v-if="screenWidth>1200">
                        <span class="badge badge-danger">特等奖/2500贝</span>
                        <span class="badge badge-success">一等奖/1000贝</span>
                        <span class="badge badge-primary">二等奖/500贝</span>
                        <span class="badge badge-warning">三等奖/300贝</span>
                        <span class="badge badge-secondary">四等奖/100贝</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12" :style="largeScreen?'text-align:right':'text-align:center'">
                    <span style="color: #a4b0c3;font-size: 12px">排名更新时间：每天6/12/18和24点</span>
                </div>
            </div>-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="bs-example table-responsive" style="background-color: #fff;">
                        <table class="table table-bordered table-hover table-striped" style="margin-bottom: 0">
                            <thead style="background-color: #dbdbdb;">
                            <tr>
                                <th>排名</th>
                                <th>电影名</th>
                                <th>上映年份</th>
                                <th>评分/人次</th>
                                <th>语言</th>
                                <th>类型</th>
                                <th>时长</th>
                                <th>观看状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(movie,index) in movieList">
                                <th width="6%" scope="row" v-text="movie.sort">
                                </th>
                                <td width="30%" style="vertical-align: middle;text-align: left">
                                    <img class="rounded" v-lazy="movie.introPic" :alt="movie.name"
                                         width="50" height="50" style="vertical-align: middle">
                                    <a v-text="movie.name" target="_blank"
                                       style="text-decoration:none;color:#1f2d3d;vertical-align: middle"
                                       :href="movie.link">
                                    </a>
                                </td>
                                <td width="9%" v-text="movie.releaseYear" style="vertical-align: middle;"></td>
                                <td style="vertical-align: middle;">{{movie.score}}/{{movie.scoreMembers}}</td>
                                <td v-text="movie.language" style="vertical-align: middle;"></td>
                                <td v-text="movie.movieType" style="vertical-align: middle;"></td>
                                <td width="6%" v-text="movie.duration" style="vertical-align: middle;"></td>
                                <td width="9%" v-text="movie.status==='Y'?'看过':'未看'" style="vertical-align: middle;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--<div class="row">
                <div class="col-sm-12" :style="largeScreen?'text-align:right':'text-align:center'">
                    <span style="color: #a4b0c3;font-size: 12px;">排名更新时间：每天6/12/18和24点</span>
                </div>
            </div>-->

        </div>
    </section>
</main>

<!--<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align:center;margin-top:-25px">
            <span style="color: #a4b0c3;font-size: 8px;">注：排名仅供参考，最终结果以官方公布为准</span>
        </div>
    </div>
</div>-->

<footer class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                <circle cx="12" cy="13" r="4"></circle>
            </svg>
            <div id="hitokoto" class="text-muted" style="margin-top:8px;margin-bottom: 12px">
                相视而笑，莫逆于心
            </div>
        </div>
        <div class="col-4 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="d-block mb-2">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
            </svg>
            <small class="d-block mb-3 text-footer-muted">
                happyJared<br>
                Copyright &copy; 2020<br>
                粤ICP备17033077号-1
            </small>
        </div>
        <div class="col-4 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small text-footer-muted">
                <li><a class="text-muted text-footer-muted" target="_blank" style="text-decoration: none"
                       href="//www.jianshu.com/u/000a530f461c">简书</a>
                <li><a class="text-muted text-footer-muted" target="_blank" style="text-decoration: none"
                       href="https://blog.mariojd.cn/">博客</a></li>
                </li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <h5>Tech</h5>
            <ul class="list-unstyled text-small">
                <li><span class="text-muted  text-footer-muted">Redis</span></li>
                <li><span class="text-muted  text-footer-muted">Vue.js</span></li>
                <li><span class="text-muted  text-footer-muted">Requests</span></li>
                <li><span class="text-muted  text-footer-muted">Spring Boot</span></li>
            </ul>
        </div>
    </div>
</footer>

<script src="//cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script>Vue.config.productionTip = false</script>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="//cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-lazyload/1.2.6/vue-lazyload.js"></script>
<script src="//v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
<script src="layer/layer.js"></script>
<script src="js/movie.js"></script>
</body>
</html>